<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <title>关于本站</title>
</head>
<body>
<!--导航栏--------------------------------------------->
<nav th:replace="_fragments :: menu(5)"></nav>

<!--中间内容------------------------------------------>
<div class="m-container-small m-padded-big">
    <div class="ui container">
        <div class="ui top attached teal segment animated bounceInLeft">
            <div class="ui padded vertical segment m-padded">
                <div class="ui middle aligned mobile  stackable grid">
                    <div class="ten wide column">
                        <img src="https://picsum.photos/800/400/?image=1005" class="ui fluid rounded image" alt="">
                    </div>
                    <div class="ui center aligned six wide column">
                        <h2 class="ui header">YoungLjx 's Blog</h2>
                        <p class="m-text">一个Java小白的个人博客，记录一些学习中值得记录的知识,不断学习中。
                            后续可能会修改前端UI框架美化页面，功能持续优化,<br>
                            技术使用SpringBoot（2.1.13GA版本）+JPA+Thymeleaf（默认3.x版本）+Mysql+Semantic UI。
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--中间内容留言区域-->
        <div class="ui bottom attached segment animated bounceInRight">
            <!--中间内容留言区域列表-->
            <div id="comment-container" class="ui teal segment">
                <div th:fragment="messagesList">
                    <div class="ui threaded comments" style="max-width: 100%">
                        <h3 class="ui dividing header">给我留言吧</h3>
                        <div class="comment" th:each="comment : ${comments}">
                            <a class="avatar">
                                <img src="" th:src="@{${comment.avatar}}"  alt="">
                            </a>
                            <div class="content">
                                <a class="author">
                                    <span th:text="${comment.nickname}">Matt</span>
                                    <div class="ui mini m-admin left pointing label m-padded-small" th:if="${comment.adminComment}">博主</div>
                                </a>
                                <div class="metadata">
                                    <span class="date" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}">5:42</span>
                                </div>
                                <div class="text" th:text="${comment.content}">太赞了！</div>
                                <div class="actions">
                                    <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickname}"  onclick="reply(this)">回复</a>
                                </div>
                            </div>
                            <div class="comments" th:if="${#arrays.length(comment.replyComments)}>0">
                                <div class="comment" th:each="reply : ${comment.replyComments}">
                                    <a class="avatar">
                                        <img src="" th:src="@{${reply.avatar}}" alt="">
                                    </a>
                                    <div class="content">
                                        <a class="author">
                                            <span th:text="${reply.nickname}">回复者</span>
                                            <div class="ui mini m-admin left pointing label m-padded-small" th:if="${reply.adminComment}">博主</div>
                                            &nbsp;<span th:text="|@ ${reply.parentComment.nickname}|"  class="m-teal">@ 被回复者</span>
                                        </a>
                                        <div class="metadata">
                                            <span class="date" th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">5:42</span>
                                        </div>
                                        <div class="text" th:text="${reply.content}">太赞了！</div>
                                        <div class="actions">
                                            <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${reply.id},data-commentnickname=${reply.nickname}"  onclick="reply(this)">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="comment-form" class="ui form">
                <input type="hidden" name="parentComment.id" value="-1">
                <div class="field">
                    <textarea name="content" placeholder="请输入评论信息 ... "></textarea>
                </div>
                <div class="fields">
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="nickname" placeholder="姓名"  th:value="${session.user}!=null ? ${session.user.nickname}">
                        </div>
                    </div>
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" name="email" placeholder="邮箱" th:value="${session.user}!=null ? ${session.user.email}">
                        </div>
                    </div>
                    <div class="field m-margin-bottom-small m-mobile-wide">
                        <button id="commentpost-btn" class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<br>
<br>
<br>
<!--底部内容-->
<footer th:replace="_fragments :: footer"></footer>


<th:block th:replace="_fragments :: script"/>

<script th:inline="javascript">
    //评论表单验证
    $('.ui.form').form({
        fields: {
            content: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入评论内容'
                }]
            },
            nickname: {
                identifier: 'nickname',
                rules: [{
                    type: 'empty',
                    prompt: '请输入你的姓名'
                }]
            },
            email: {
                identifier: 'email',
                rules: [{
                    type: 'email',
                    prompt: '请填写正确的邮箱地址'
                }]
            }
        }
    });

    $(function () {
        $("#comment-container").load(/*[[@{/messagesList}]]*/"");
    });

    $('#commentpost-btn').click(function(){
        var bool = $('.ui.form').form('validate form');
        if (bool){
            console.log('校验成功');
            postData();
        }else {
            console.log('校验失败');
        }
    });

    function postData() {
        $("#comment-container").load(/*[[@{/messages}]]*/"",{
            "parentComment.id" : $("[name='parentComment.id']").val(),
            "nickname": $("[name='nickname']").val(),
            "email"   : $("[name='email']").val(),
            "content" : $("[name='content']").val()
        },function (responseTxt, statusTxt, xhr) {
            $(window).scrollTo($('#comment-container'),500);
            clearContent();
        });
    }

    function clearContent() {
        $("[name='content']").val('');
        $("[name='parentComment.id']").val(-1);
        $("[name='content']").attr("placeholder", "请输入评论信息...");
    }

    function reply(obj) {
        var commentId = $(obj).data('commentid');
        var commentNickname = $(obj).data('commentnickname');
        $("[name='content']").attr("placeholder", "@"+commentNickname).focus();
        $("[name='parentComment.id']").val(commentId);
        $(window).scrollTo($('#comment-form'),500);
    }



</script>

</body>
</html>
